<style> 

.header {
  background: <%= @back_color %>;
  color: <%= @font_color %>;
  text-decoration: none;
}

body {
  background-image: <%= @image %>;
}

.big_font {
  color: <%= @font_color %>;
}

</style>

<a href='/'><div class="header"> Cick for More Emergency Compliment </div></a>
<div class="big_font"><%= @message_post %></div>